---
layout: page
xxtitle: Fauxcabulary
xxtagline: Fake definitions. Real funny.
canopyStyle: canopy-full
---
{% include JB/setup %}

<hr/>

<table border="0" cellpadding="0" cellspacing="0" style="margin:auto;"><tr><td>
<h1>Word of the Day</h1>

<p>
	<blockquote>
		{% for post in site.categories.terms limit:1 %}
			{{ post.content | replace: "&mdash;", "" }}
		{% endfor %}
	</blockquote>
</p>
</td></tr></table>

<hr/>

<table class="siteIcons" border="0" cellpadding="10" cellspacing="0" style="width:100%; margin-top:20px; margin-bottom:20px;">
	<tr>
		<td style="text-align:center;"><a href="{{ BASE_PATH }}/wayback/index.html?show=TermsAlphabetical"><img border="0" src="{{ BASE_PATH }}/images/fauxcabulary-AtoZ.png" /></a></td>
		<td style="text-align:center;"><img border="0" src="{{ BASE_PATH }}/images/fauxcabulary-DeepThoughts.png" /></td>
		<td style="text-align:center;"><a href="{{ BASE_PATH }}/wayback/index.html?show=TermsChronological"><img border="0" src="{{ BASE_PATH }}/images/fauxcabulary-BackInTime.png" /></a></td>
	</tr>
</table>

<hr/>

<h1>Welcome</h1>

<p>This site was created to provide some insight into how my mind works. I know it sounds strange, but as folks talk (in person, on the phone, on radio, on TV, …) my thoughts process each of their words, along with every word combo with similar sounds, meaning, or spelling.</p>

<p>The people that live and work with me daily get to hear about 20% of those stray thoughts in the form of oft-risqué puns (although I’m sure it feels more like 90% to them).</p>

<p>Sometime in 2009, my wife told me to start writing my stupid puns down. Since I’m not good at following directions, I started my faux-cabulary list instead.</p>

<p>Peppered within you’ll also find some random musings that aren’t directly related to the whole fauxcabulary theme, but do fit nicely with the stated goal of “provid[ing] some insight into how my mind works”.</p>

<p>I hope you enjoy your visit. New fauxcabulary words are posted every day at midnight. The other content is added as it happens. So keep checking back.</p>

<p>&mdash; Joe<br/>(ground&middot;h0g)</p>
