---
layout: page
---
{% include JB/setup %}

<div style="margin-bottom:10px;">

{% include JB/posts_wayback div_name="divArchive" %}

{% include JB/sort_collection collection=site.categories.terms sort_by="term" sort_descending=false %}
{% include JB/posts_wayback post_list=sort_result link_param="TermsAlphabetical" preview_word_count=200 %}

</div>

<script type="text/javascript">
	var whenDocumentReady = function() {
		$(document).ready(function(){
			var show = QueryString["show"];
			if(show) {
				$("#divArchive").hide();
				$("#div" + show).show();
			}
		});
	};
</script>

